@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap');

/* wildcard*/
* {
font-family: "raleway", "sans-serif";}
a {
    color: inherit;
text-decoration: none;}

#body {
    box-sizing: border-box;
    max-width: 100%;
    margin: 0 auto;
    height: 100%;
    margin-bottom: -50px;
    margin-left: 10px;
}
#main {
    margin: auto;
    max-width: 1440px;
}

/* navbar */
nav {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;}
nav a {
    padding: 10%;}
nav a:hover {
    border-top: 3px solid #0065FC;
    margin-top: -5%;
    }
    
#logo {
    margin-right: auto;
    margin-top: 30px;
margin-bottom: 16px;
    padding: 0 3.5rem;
    padding-right: 2rem;
    width: 82px;
    height: 43px ;
}
.sub-nav {
    display: flex;}
.sub-nav a:hover {
    color: #0065FC;} 

/* headings */
.trouvez {
    margin: 16px;
}
.bulle h1 {
    font-size: larger;
    }
.bulle p {
    font-size: smaller;
    margin-top: -8px;
    margin-bottom: 16px;
   }

/* SEARCH */
.search-form {
    display: flex;
    margin: 1rem;}

.search-form i {
    padding: 0.9rem 1.1rem;
    background-color:  	#F2F2F2;
    border-radius: 1rem 0 0 1rem;}

.search-form input {
    padding-left: 16px;
    border: 1px solid #F2F2F2;
    font-weight: bold;
    font-size: 101%;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    font-weight: bold;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: black;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: black;
  }
    
    
.search-form button {
    color: white;
    font-weight: bold;
    background-color: #0065FC;
    border-radius: 0 1rem 1rem 0;
    border: none;
    font-size: 101%;
    padding-right: 16px;
    padding-left: 16px;
    cursor: pointer;
}
.fas.fa-search {
    display: none;}

/* FILTERS */
.filters-list {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding-top: 1%;
    padding: 1rem;
}
.filtre .fas {
    color: blue;
    background-color: #deebff;
    padding: 1rem;
    border-radius: 50%;
    margin: -3px;
}

.filtre .fa-child-reaching
{
    color: blue;
    background-color: #deebff;
    padding: 1rem;
    border-radius: 50%;
    margin: -3px;
}


.filtre {
    border: 2px solid lightgrey;
    border-radius: 2rem;
    padding-right: 1rem ;}

.filtre span {
    font-weight: bold;
    padding: 1rem;
}
.filtre:hover {
    background-color: #f3f8ff;
    transform: scale(1.015);
    cursor: pointer;
} 
/* INFOS */
.INFOS {
    display: flex;
    align-items: center;
    margin: 1rem;}
    

.INFOS .fas {
    width: 1.2rem;
    height: 1.2rem;
    display: flex;
    border: 1px solid lightgrey;
    color: blue;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin-right: 0.5rem;}
    

/* LISTE HEBERGEMENTS */

.listes {
    display: flex;
    gap: 2rem;
    margin-top: 30%;
    margin: 1rem}
    

.marseille {
    background-color: #F2F2F2;
	border-radius: 20px;
	width: 66%;  
    height: 560px;
    padding: 1rem;
    margin-top: 1rem;
}
.populaires {
    background-color: #F2F2F2;
	border-radius: 20px;
    width: 33%; 
    height: 560px;
    padding: 1rem;
    margin-top: 1rem;}

.titrepopulaire {
  display: flex;
}

    /* liste des appartements */

.cartes
    { display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-bottom: 1rem;}
      
.resultat {   
    width: 30% ;   
    background-color: white;
	border-radius: 20px;
	box-shadow: 0 2px 2px #c0c0c0;
	line-height: 5px;
	margin-top: 10px;
    margin-bottom: 20px;
    align-items: center;}

.resultat:hover {
    transform: scale(1.015);
    cursor: pointer;}

.resultat p { 
    list-style: none;
    margin-top: 8px;
    margin-bottom: 14px;
    padding-left: 1rem;
}
.blue {
    color: blue;
}

.grey {
    color: #F2F2F2;
}
.resultat img {
    margin: 4px;
	height: 110px;
    width: 98%;
	border-radius: 20px 20px 0 0;
	object-fit: cover;}

    .afficher
    {margin-top: 0px;
    margin-left: 20px;
    }  
    .afficher:hover
    {cursor: pointer;
    text-decoration: underline;}

/* ACTIVITES */
.sorties h4 {
    padding-left: 20px;
    }
.chart {
    padding-right: 20px;
}
.trio {
    display: flex;
	flex-direction: column;
	justify-content: space-around;
    align-items: center;
    height: 70%;}

.resultat1 {   
	display: flex;
	width: 80%;
    height: 30%;
    margin-top: 100px;
	margin-bottom: 40px;
	border: 3px solid #ffffff;
	border-radius: 20px;
    background-color: white;
	box-shadow: 0 4px 4px #c0c0c0;
    font-size: small;
    align-items: center;
}
.resultat1 img {
    width: 36%;
	border-radius: 20px 0 0 20px;
	height: 125px;
	margin: 1,5px;
	object-fit: cover;
}

.resultat2 {   
	display: flex;
	width: 80%;
    height: 30%;
	margin-bottom: 40px;
	border: 3px solid #ffffff;
	border-radius: 20px;
    background-color: white;
	box-shadow: 0 4px 4px #c0c0c0;
    align-items: center;
    font-size: small;
}

.resultat2 img {
    width: 36%;
	border-radius: 20px 0 0 20px;
	height: 125px;
	margin: 1,5px;
	object-fit: cover;}

.resultat3 {   
        display: flex;
        width: 80%;
        height: 30%;
        border: 3px solid #ffffff;
        border-radius: 20px;
        background-color: white;
        box-shadow: 0 2px 2px #c0c0c0; 
        font-size: small;
        align-items: center;
    }
    
.resultat3 img {
        width: 40%;
        border-radius: 20px 0 0 20px;
        height: 125px;
        margin: 1,5px;
        object-fit: cover;}

.bloc,.bloc2,.bloc3 {
    list-style: none;
    margin-bottom: 50px;
    margin-top: 15px;
    font-size: 112%;
}

.li {
    font-family: "raleway", "sans-serif";
}
    
/* ACTIVITES A MARSEILLE */

.activites
{  
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.activites figure:hover
{
	transition-duration: 0.2s;
}
.port,.fort,.iles,.parc,.dame,.longchamp
{  
	border: 1PX solid #ffffff; 
	border-radius: 20px;
	box-shadow: 0 4px 4px #c0c0c0;
    background-color: white;
	}
.port,.parc {
    height: 435px;
}

.port img
{   width: 280px; 
    height: 88%;
	border-radius: 20px 20px 0px 0px;
	object-fit: cover;
    margin-bottom: 10%;
}
.fort img
{   width: 300px;
	height: 182px; 
	border-radius: 20px 20px 0 0;
	oBject-fit: cover;
    object-position: -0px -105px;
    margin-bottom: 8%;
}
.iles img
{
	width: 300px;
	height: 118px;
	border-radius: 20px 20px 0 0;
	object-fit: cover;
    object-position: 0px -6px; 
    margin-bottom: 8%;
}
.parc img
{
	width: 280px;
    height: 88%; 
	border-radius: 20px 20px 0px 0px;
	object-fit: cover;
    margin-bottom: 10px;
    object-position: -141px 0px;
}
.dame img
{   width: 300px;
	height: 158px;
	border-radius: 20px 20px 0 0;
	object-fit: cover;
    margin-bottom: 5%;
    object-position: 0px 4px
}
.longchamp img
{
	width: 300px;
	height: 158px;
	border-radius: 20px 20px 0 0;
	object-fit: cover;
    margin-bottom: 5%;
}
.activites p {
    align-items: center;    
    padding-left: 5%;
}
.fort,.dame 
{margin-bottom: 30px ;}

/* FOOTER */
.cadre
    {   background-color: #F2F2F2;
        display: flex;
        margin-top: 40px;
        color: black;
	    width: 100%;
    }
.ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        line-height: 25px;
}
.cadre p {   
    margin-right: 265px;
}
   